/* css resets */ 

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'Inter';
  src: url('./fonts/Inter.ttf');
}

body {
  font-family: 'Inter', sans-serif;
  color: #D9D9D9;
  background-color: #0F0F0F;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 48rem;
  padding: 2rem 2rem 0 2rem;
  margin: 2rem 0;
}

header img {
  max-width: 20%;
  border-radius: 20px;
  margin-right: 1rem;
}

.header-title {
  display: flex;
  align-items:center;
}

.header-title span {
  font-size: 14px;
  margin-left: 1rem;
}

.header-content p {
  margin-top: 0.5rem;
}

main {
  margin-top: 2rem;
}

ul {
  width: 31rem;
  list-style: none;
}


a {
  text-decoration: none;
  color:#D9D9D9;
  font-weight: 700;
}

footer {
  margin-top: 3rem;
  font-size: 14px;
  text-align: center;
}

.footer-github {
  margin-top: 0.5rem;
}

/* -------- li default style  ------------*/
 /* li {
  border-radius: 5px;
  padding: 15px;
  background: rgba(170, 170, 170, 0.062);
  text-align: center;
  cursor: pointer;
  margin-bottom: 1rem;
}  */

 /* ------------bi pride hover effect ---------- */

 li {
  padding: 0.9em 1.6em;
  border: 0.5px solid rgba(46, 46, 46, 0.336) ;
  outline: none;
  background-color: #0F0F0F;
  margin-bottom: 1rem;
  text-align: center;
  font-weight: 500;
  font-size: 17px;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 12px;
 }
 
 li::after {
  content: "";
  z-index: -1;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #0F0F0F;
  left: 0;
  top: 0;
  border-radius: 10px;
 }
 /* glow */
 li::before {
  content: "";
  background: linear-gradient(
     45deg,
     #FF0000, #002BFF, #FF00C8, #002BFF,
       #FF0000, #002BFF, #FF00C8, #002BFF
 );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 600%;
  z-index: -1;
  width: calc(100% + 1px);
  height: calc(100% + 1px);
  filter: blur(6px);
  animation: glowing 20s linear infinite;
  transition: opacity .5s ease-in-out;
  border-radius: 10px;
  opacity: 0;
 }
 
 @keyframes glowing {
  0% {
   background-position: 0 0;
  }
 
  50% {
   background-position: 400% 0;
  }
 
  100% {
   background-position: 0 0;
  }
 }
 
 /* hover */
 li:hover::before {
  opacity: 1;
 }
 
