/* css resets */ 

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'Inter';
  src: url('./fonts/Inter.ttf');
}

body {
  font-family: 'Inter', sans-serif;
  color: #D9D9D9;
  background-color: #0F0F0F;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 48rem;
  padding: 2rem 2rem 0 2rem;
  margin: 2rem 0;
}

header img {
  max-width: 20%;
  border-radius: 20px;
  margin-right: 1rem;
}

.header-title {
  display: flex;
  align-items:center;
}

.header-title span {
  font-size: 14px;
  margin-left: 1rem;
}

.header-content p {
  margin-top: 0.5rem;
}

main {
  margin-top: 2rem;
}

ul {
  width: 31rem;
  list-style: none;
}

li {
  border-radius: 5px;
  padding: 15px;
  background: rgba(170, 170, 170, 0.062);
  text-align: center;
  cursor: pointer;
  margin-bottom: 1rem;
}

a {
  text-decoration: none;
  color:#D9D9D9;
  font-weight: 700;
}

footer {
  margin-top: 3rem;
  font-size: 14px;
  text-align: center;
}

.footer-github {
  margin-top: 0.5rem;
}